<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RedeMaster" connectionString="Server=LAPTOP-5R3FI4O0\SQLEXPRESS;Trusted_Connection=True;TrustServerCertificate=true" providerName="Microsoft.Data.SqlClient"/>
		<add name="RedeDBRede3" connectionString="Server=LAPTOP-5R3FI4O0\SQLEXPRESS;Trusted_Connection=True;TrustServerCertificate=true;Database=DB_Rede_3" providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>